{% extends 'base.html' %}
{% block title %}Home{% endblock title %}  
{% block content %}



  <div class="page-header min-height-300" style="background-image: url('https://source.unsplash.com/random?planners');" loading="lazy">
      <div class="col-md-3 mx-auto">

        <div class="text-center">
          <!-- <div class="row mt-5"> -->
          
          <br>
          <h2 class="text-black">All Event Planner </h2>
          <h6 class="text-black">at your service</h6>
          <h1 class="text-white"><i class="fa-solid fa-heart"></i></h1>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- <span class="mask bg-gradient-dark opacity-8"></span> -->
  </div>



  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="d-flex justify-content-between mb-4"></div>
    <div class="btn-group" role="group" aria-label="Sort and Search">
      <!-- Sort Button with Icon -->
      <!-- <button type="button" class="btn btn-primary"> -->
        <!-- <i class="bi bi-arrow-up-down"></i> Sort -->
      </button>
      <!-- Search Button with Icon -->
      <button type="button" class="btn btn-normal">
        <i class="bi bi-search"></i> P L A N N E R s
        <i class="flaticon-icon-name"></i>
      </button>
    </div>

  <!-- START Testimonials w/ user image & text & info -->
  <section class="py-sm-7 py-5 position-relative">
    
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          
         

<!--  rows -->
<div class="container">
  <div class="row">
    {% for eventplanner in eventplanners %}
      <div class="col-lg-4">
        <div class="card">
          <!-- {% if eventplanner.logo %}
                    <img src="{{ eventplanner.logo.url }}" alt="Logo" width="100">
                {% else %}
                    <p>No logo available</p>
                {% endif %} -->


          <img src="static/planners/apollo_events.jpeg" class="card-img-top" alt="Event Image">
          <div class="card-body">
            <h5 class="card-title">{{ eventplanner.title }} events</h5>
            <p class="card-text">Rating: {{ eventplanner.rating }}</p>
            <p class="text-white opacity-8">{{ eventplanner.description }}</p>
            <a href="{% url 'defaults' eventplanner.id %}" class="btn btn-primary">Explore</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row mt-4">
      {% endif %}
    {% endfor %}
  </div>
</div>


<!-- caption -->
<div class="container">
  <div class="row">
    <div class="row justify-content-center text-center my-sm-5">
      <div class="col-lg-6">
        <h2 class="text-dark mb-0">Huge Event Category</h2>
        <p class="lead">widely depending on the context, such as sports events, business conferences, entertainment events,
          or even categories within a specific event type, like music genres in a music festival.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
